footer {
    display: grid;
    grid-template-areas:"indice mapa redes"
                        "indice mapa derechos";
    background-color:  $color-principal;
    padding: 24px;

    .footer
        &__indice {
        grid-area: indice;
            & ul li {
            font-size: 16px;
            color: white;
            padding-bottom: 14px;
            }
        }
        
        &__mapa {
        grid-area: mapa;
        display: flex;
        justify-content: center;
            &.medidas__mapa {
                width:450px;
                height: 300px; 
            }
        }
    
        &__redes {
        grid-area: redes;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        }    
        
        &__derechos {
        grid-area: derechos;
        font-family: $font-principal;
        color: black;
        background-color: $color-principal;
        font-size: 14px;
        margin: 20px;
        display: flex;
        justify-content: center;
        text-align: left;
        }
        
        .bi {
        width: $medidas-iconos-redes;
        height: $medidas-iconos-redes;
        margin: 15px;
        padding: 15px;
        }
        .bi-instagram:hover {
            transform: scale(1.5,1.5);
        }
        .bi-facebook:hover {
            transform: scale(1.5,1.5);
        }
        .bi-whatsapp:hover {
            transform: scale(1.5,1.5);
        }
        .bi-youtube:hover {
            transform: scale(1.5,1.5);
        }
        
        h3 {
            font-size: 20px;
            font-family: $font-principal;
            text-decoration: none;
            color: white;
            text-decoration: underline;
        }
        a {
            font-family: $font-principal;
            text-decoration: none;
            color: white;
        }
        h4 {
            color: black;
            text-align: center;
        }    
    }

