/* COLORES */
$color-principal: #0066cc;
$color-seleccion: green;
$color-letra-seleccion:white;   

/* LETRAS */
$font-principal: 'Roboto', sans-serif;
$font-titulos: 'Euphoria Script', cursive;

/* TAMAÑOS */
$total-alto: 100vh;
$total-ancho: 100vw;
$medidas-iconos-redes: 55px;

/* TAMAÑO LETRA */
$contenido-texto: 0.65rem;
$titulos: $contenido-texto * 6;

/* REM - EM -> 1 REM -> 16px */
/* REM ES UNA MEDIDA RESPONSIVE */ 
