@import "variables";/* siempre se coloca al principio */
@import "footer";
@import "nav";
@import "operators";
@import "mediaqueries";/* siempre se coloca ultima */

* {
    margin: 0px; /* Margen Externo */
    padding: 0px; /* Margen Interno */
    box-sizing: border;
}

.header {
    background-color: $color-principal;
}

h1 {
    font-family: $font-titulos;    
    color: rgb(50, 180, 60);
    font-size: $titulos;
    text-decoration-line: underline; /* Para subrayar */
    padding: 35px;
    text-align: center;
}

ul {
    font-family: $font-principal; 
    list-style: none; /* Para sacarle los puntos de la viñeta. */
    padding: 0px 16px;
}

p {
    padding: 10px 14px;
}

/* PAGINA INDEX */
.main__texto-presentacion {
    @extend .background-centrado;
    font-family: $font-principal;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}  

.main__texto-presentacion ::selection {
    background-color: $color-seleccion;
    color: $color-letra-seleccion;
}

.main__imagen-presentacion {
    display: grid;
    width: 50vw;
    height: 50vh;
    margin: auto;
    grid-template-areas:"simbolos-italia-sin-color simbolos-italia-sin-color simbolos-italia-sin-color";
}

.simbolos-italia-sin-color {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-area: simbolos-italia-sin-color;
    background-image: url("../recursos/simbolos\ de\ italia\ sin\ color.jpg");
}

.nav-link {
    display: flex;
    list-style: none; /* para que no haya un punto delante */
    margin: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: white;
    text-decoration: none;
    align-items: flex-end;
}

.header__item {
    display: inline;
    padding: 20px;
}

.header__item a {
    color: white;
    text-decoration: none;
}

.header__logo {
    width: 60px;
    height: 58px;
    display: inline;
}

.ultimas__novedades {
    display: grid;
    width: $total-ancho;
    height: $total-alto;
}

.novedades__card {
    width: 35px;
}

.card {
    border: white solid 5px; /* color tipo y tamaño */
}

.card ::selection {
    background-color: $color-seleccion;
    color: $color-letra-seleccion;
}

.sociedad {
    font-family: $font-principal;
    font-size: $contenido-texto;
    color: white;
    background-color: rgb(52, 50, 50);
}

.sociedad ::selection {
    background-color: $color-seleccion;
    color: $color-letra-seleccion;
}

.deportes {
    font-family: $font-principal;
    font-size: $contenido-texto;
    color: white;
    background-color: rgb(52, 50, 50);
}

.deportes ::selection {
    background-color: $color-seleccion;
    color: $color-letra-seleccion;
}

.politica {
    font-family: $font-principal;
    font-size: $contenido-texto;
    color: white;
    background-color: rgb(52, 50, 50);
}

.politica ::selection {
    background-color: $color-seleccion;
    color: $color-letra-seleccion;
}

.internacionales {
    font-family: $font-principal;
    font-size: $contenido-texto;
    color: white;
    background-color: rgb(52, 50, 50);
}

.internacionales ::selection {
    background-color: $color-seleccion;
    color: white;
}

.formato__titulo {
    text-align: center;
}

.texto__novedades {
    font-size: 14px;
}

/* PAGINA UN POCO DE HISTORIA */

.form__texto {
    font-family: $font-principal;
    font-size: 14px;
}

.form__texto ::selection {
    background-color: $color-seleccion;
    color: $color-letra-seleccion;
}

.introduccion {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.monarquia-romana {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.imperio-romano {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.el-renacimiento-italiano {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.la-italia-unificada {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.italia-en-la-actualidad {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

/* PAGINA RECETAS */
.titulo__recetas {
    text-align: center;
    font-size: 16px;
    text-decoration-line: underline;
}

.texto__recetas {
    font-size: 14px;
}

.recetas {
    width: 90vw;
    height: 30vh;
    background-color: white;
}

.receta__carbonara {
    font-family: $font-principal;
    font-size: $contenido-texto;
    color: black;
    border: black solid 1px;
    border-radius: 15px;
    margin: 60px;
    padding: 5px;
}

.receta__carbonara:hover {
    transform: scale(1.1,1.1);
}

.receta__Malfatti {
    font-family: $font-principal;
    font-size: $contenido-texto;
    color: black;
    border: black solid 1px;
    border-radius: 15px;
    margin: 60px;
    padding: 5px;
}

.receta__Malfatti:hover {
    transform: scale(1.1,1.1);
}

.receta__Espaguetis-al-pesto {
    font-family: $font-principal;
    font-size: $contenido-texto;
    color: black;
    border: black solid 1px;
    border-radius: 15px;
    margin: 60px;
    padding: 5px;
}

.receta__Espaguetis-al-pesto:hover {
    transform: scale(1.1,1.1);
}

.receta__Panini-casero-de-atun {
    font-family: $font-principal;
    font-size: $contenido-texto;
    color: black;
    border: black solid 1px;
    border-radius: 15px;
    margin: 60px;
    padding: 5px;
}

.receta__Panini-casero-de-atun:hover {
    transform: scale(1.1,1.1);
}

.imagen__recetas {
    width: 80px;
}

/* PAGINA FOTOS Y VIDEOS */
.imagen__italia__grid {
    display: grid;
    width: $total-ancho;
    height: $total-alto;
    grid-template-columns: 1fr 1fr 1fr; /* unidad de grid - cada columna ocupa un tercio del total*/
    grid-template-rows: repeat(18, 1fr); /*  */
    grid-template-areas:"siena coliseo manarola"
                        "siena coliseo manarola"
                        "siena florencia manarola"
                        "siena florencia manarola"
                        "volcan-etna venezia toscana"
                        "volcan-etna venezia toscana"
                        "motocicleta-italiana venezia volcan-stromboli"
                        "motocicleta-italiana venezia volcan-stromboli"
                        "motocicleta-italiana venezia volcan-stromboli"
                        "motocicleta-italiana venezia volcan-stromboli"
                        "auto-clasico-italiano lago-como fontana-di-trevi"
                        "auto-clasico-italiano lago-como fontana-di-trevi"
                        "auto-clasico-italiano lago-como fontana-di-trevi"
                        "bandera calle duomo-di-milan"
                        "bandera calle duomo-di-milan"
                        "bandera calle duomo-di-milan"
                        "bandera calle duomo-di-milan"
                        "bandera calle duomo-di-milan";
    column-gap: 10px;
    row-gap: 10px;            
}

.siena {
    @extend .background-centrado;
    grid-area: siena;
    background-image: url("../recursos/Siena-_mEZtQzcpTA-unsplash.jpg");
}

.coliseo {
    @extend .background-centrado;
    grid-area: coliseo;
    background-image: url("../recursos/Coliseo-75XHJzEIeUc-unsplash.jpg");
}

.florencia {
    @extend .background-centrado;
    grid-area: florencia;
    background-image: url("../recursos/Florencia-korner-pRU-VnBVJMQ-unsplash.jpg");
}

.manarola {
    @extend .background-centrado;
    grid-area: manarola;
    background-image: url("../recursos/Manarola-rknrvCrfS1k-unsplash.jpg");
}

.volcan-etna {
    @extend .background-centrado;
    grid-area: volcan-etna;
    background-image: url("../recursos/Volcan\ Etna-4Vnmyn0FsRU-unsplash.jpg");
}

.motocicleta-italiana {
    @extend .background-centrado;
    grid-area: motocicleta-italiana;
    background-image: url("../recursos/Motocicleta\ Italiana-qugoGp8XK3c-unsplash.jpg");
}

.venezia {
    @extend .background-centrado;
    grid-area: venezia;
    background-image: url("../recursos/Venezia-Uu5aXBI1oLk-unsplash.jpg");
}

.toscana {
    @extend .background-centrado;
    grid-area: toscana;
    background-image: url("../recursos/Toscana-tegethoff-l-GmdF7Md0o-unsplash.jpg");
}

.volcan-stromboli {
    @extend .background-centrado;
    grid-area: volcan-stromboli;
    background-image: url("../recursos/Volcan\ Stromboli-o6rApA3y-dw-unsplash.jpg");
}

.auto-clasico-italiano {
    @extend .background-centrado;
    grid-area: auto-clasico-italiano;
    background-image: url("../recursos/Auto-Q5BVSGt9Ljc-unsplash.jpg");
}

.lago-como {
    @extend .background-centrado;
    grid-area: lago-como;
    background-image: url("../recursos/Lago\ Como-wwV3ZMLaAmg-unsplash.jpg");
}

.fontana-di-trevi {
    @extend .background-centrado;
    grid-area: fontana-di-trevi;
    background-image: url("../recursos/Fontana\ di\ Trevi-I1Lv2yX67GI-unsplash.jpg");
}

.bandera {
    @extend .background-centrado;
    grid-area: bandera;
    background-image: url("../recursos/Bandera\ Italia-jf5SQVEKSFw-unsplash.jpg");
}

.calle {
    @extend .background-centrado;
    grid-area: calle;
    background-image: url("../recursos/Calle\ vacia\ -qhPKYyHi2NM-unsplash.jpg");
}

.duomo-di-milan {
    @extend .background-centrado;
    grid-area: duomo-di-milan;
    background-image: url("../recursos/Duomo\ di\ Milano-stokes-xEQLO9EGu64-unsplash.jpg");
}

/* PAGINA CONTACTANOS */
.form-control {
    background-color: black;
    color: white;
}

.apellido-nombre {
    width: 700px;
    height: 40px;
}

.residencia {
    width: 700px;
    height: 40px;
}

.email {
    width: 700px;
    height: 40px;
}

.texterea {
    width: 700px;
    height: 500px;
}

.btn {
    background-color: black;
    color: white; 
    margin: 10px;
}

.btn:focus {
    outline: 4px solid red;
}

.mb-3 :focus { 
    outline: 4px solid green;  
}

.form-label {
    margin: 10px;
}

.img-fluid {
    width: 1000px;
    height: 1000px;
    margin: 30px;
    padding: 40px;
}
